<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= user.name%></h1>
    <p>this is reminder for <%=show.show%> which will start after 30 mins</p>
  </body>
</html>
